@import 'vars';
@import 'global';
@import 'fonts';


.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}

.header__btn{
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    &-login{
        background-color: $green;
    }
    &-register{
        background-color: $red;
        margin-left: 7px;
    }
}

.header__menu{
    background-color: $bg;
}
.menu{
    display: flex;
    align-items: center;
    height: 60px;
    &__list{
        li{
            display: inline-block;
            & + li{
                margin-left: 30px;
            }
        }
        a{
            color: #ffffff;
            font-size: 14px;
        }
    }
}